body {
    background-color: cornsilk;
}

.divContainer {
    display: grid;
}
.divC {
    background-color: antiquewhite;
    font-family: "Microsoft Himalaya", serif;
    font-size: 20px;
    border: black dashed 1px;
    margin: 10px 10px;
    padding: 10px;
}

.inputI {
    font-family: Candara, serif;
    font-size: 30px;
}

.inputI:hover {
    background-color: cornflowerblue;
}

.inputB {
    font-family: Candara, serif;
    font-size: 30px;
    margin: 10px;
}

.inputB:hover {
    background-color: cornflowerblue;
}


.outputL {
    font-family: Consolas, serif;
    font-size: 10px;
}

.tableC {
    font-size: 20px;
    font-family: "Microsoft Himalaya", serif;
}